
.title{
        font-family: "Tilt Neon", sans-serif;
        font-size: 70px;
        text-align: center;
        color: var(--accent);
        margin: 0px;
}

.aboutDiv{
        background-color: var(--supp1);
        width: 100%;
        height: 100vh;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

body{
        margin: 0px;
        padding: 0px;
        height: 100vh;
}

main{
        margin: 0px;
        padding: 0px;
}
html{
        margin: 0px;
        padding: 0px;
}

.headerDiv {
        height: 13%;
        display: flex;
        justify-content: center;
        align-items: center; /* Vertically center the content */
        padding-top: 5%;
        padding-right: 10%;
    }

.menuIcon {
        fill: var(--accent);
        width: 50%;
        height: 100%;
        margin-left: 0px;
        margin-right: 0px;
        transition: transform 0.5s ease-in-out;
        background-color: transparent;
        padding: 0px;
}

.menuIcon:hover{
        background-color: var(--supp2);
}

#menuNav{
        display: none;
}

#menuNav{
        display: none;
        transition: all 35s ease-in-out;
        width: 0px;
}

.menu {
        display: block;
        margin: 0 auto;
        position: relative;
        width: 200px;
        list-style-type: none;
      }
      
      .menu > li > a {
        background: transparent;
        color: var(--accent);
        display: block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        width: 100%;
        padding: 0px;
        margin: 0px;
      }
      
      .menu ul {
        background-color: transparent;
        height: 0;
        opacity: 0;
        position: absolute;
        transition: all .5s ease;
        width: 84%;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 7%;
      }
      
      .menu li:hover ul {
        height: 200px;
        opacity: 1;
        transform: translateY(0);
      }
      
      .menu ul a {
        color: black;
        display: flex;
        padding: 0px;
        background-color: var(--supp2);
        justify-content: center;
        text-align: center;
        width: 50%;
        margin-left: 25%;
        cursor: pointer;
      }

      .justText{
        background-color: transparent;
        width: fit-content;
        text-align: center;
        text-decoration: none;
        font-family: "Tilt Neon", sans-serif;
        font-size: 20px;
        margin-top: 10%;
        margin-bottom: 10%;
        color: var(--accent);
      }

      a:link { 
        text-decoration: none; 
      } 
      a:visited { 
        text-decoration: none; 
      } 
      a:hover { 
        text-decoration: none; 
      } 
      a:active { 
        text-decoration: none; 
      }


      .textboxDiv{
        background-color: var(--accent);
        width: 80%;
        height: 60vh;
        border-radius: 8px;
        margin-top: 5%;
        justify-content:start;
        align-items: center;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
      }

      .txt{
        font-family: "Tilt Neon", sans-serif;
        font-size: 20px;
        width: 90%;
        line-height: 2;
        height: 90%;
        overflow-y: scroll;
      }


      .fade-out {
        animation: fadeOutAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
      
      @keyframes fadeOutAnimation {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
      }
      
      .fade-in {
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
      
      @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

      .center {
        display: flex;
      }
      
      #transDiv {
        position: absolute;
        width: 100%;
        height: 100%; 
        top: 0;
        left: 0;
        opacity: 1;
      }
      
      .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--accent);
        animation: backdiv 2s ease infinite;
      }
      
      .heart {
        position: absolute;
        top: 50%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%) rotate(-45deg);
        background-color: var(--main);
        height: 50px;
        width: 50px;
        animation: beat 2s ease infinite;
      }
      
      .heart:after,
      .heart:before {
        background-color: var(--main);
        content: "";
        border-radius: 50%;
        position: absolute;
        width: 50px;
        height: 50px;
      }
      
      .heart:after {
        top: 0px;
        left: 25px;
      }
      
      .heart:before {
        top: -25px;
        left: 0px;
      }
      
      @keyframes backdiv {
        50% {
          background: var(--supp1);
        }
      }
      
      @keyframes beat {
        0% {
          transform: translate(-50%, -50%) scale(1) rotate(-45deg);
        }
        50% {
          transform: translate(-50%, -50%) scale(0.6) rotate(-45deg);
        }
      }


      #mainColor{
        background-color: var(--main);
      }
      #supp1Color{
        background-color: var(--supp1);
      }
      #supp2Color{
        background-color: var(--supp2);
      }
      #accentColor{
        background-color: var(--accent);
      }

      .colorDiv{
        height: 100%;
        width: 100%;
      }

      .themeDiv{
        width: 90%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 2px solid black;
      }

      .outerThemeDiv{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 40%;
        background-color: var(--accent);
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        row-gap: 5%;
        padding-bottom: 3%;
        margin-bottom: 3%;
        margin-top: 3%;
        border: 2px black solid;
        border-radius: 8px;
      }

      .themeTitle{
        font-family: "Tilt Neon", sans-serif;
        font-size: 20px;
        margin: 0;
        color: black;
        width: 90%;
        text-align: center;
      }

      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100vh; /* Full height */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        overflow-y: hidden;
        justify-content: center;
        align-items: center;
      }
      
      /* Modal Content/Box */
      .modal-content {
        background-color: var(--accent);
        padding: 20px;
        width: 80%; /* Could be more or less, depending on screen size */
        font-family: "Tilt Neon", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;
        overflow-y: scroll;
        border-radius: 8px;
      }

      .choice{
        display: flex;
        margin-top: 3%;
        margin-bottom: 3%;
        width: 90%;
        justify-content: center;
        align-items: center;
        column-gap: 3%;
        font-size: 20px;
      }

      .choice input{
        height: 100%;
        font-family: "Tilt Neon", sans-serif;
        background-color: var(--accent);
        outline: none;
        border: 2px black solid;
        border-radius: 8px;
      }

      .modalTitle{
        font-size: 30px;
      }
      
      .closeDiv{
        width: 90%;
      }
      /* The Close Button */
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }



      #editIcon{
        background-color: black;
        color: var(--accent);
        margin-left: 3%;
        padding: 1%;
        border-radius: 8px;
      }


      .applyBtn{
        border: 2px black solid;
        background-color: var(--accent);
        color: black;
        border-radius: 8px;
        font-family: "Tilt Neon", sans-serif;
        font-size: 20px;
        cursor: pointer;
      }

      .applyBtn:hover{
        background-color: var(--main);
        color: var(--accent)
      }

